<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>SIXIT</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/sixit-logo.png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/main.css?v=3.4">
    
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <script src="/assets/js/count-updater.js"></script>
    <!-- <style>
        .btn-link {
            text-decoration: none;
            color: inherit;
            padding: 0;
            margin: 0;
            border: none;
        }
        .btn-link:hover,
        .btn-link:focus {
            text-decoration: none;
            color: inherit;
        }
        .dropdown-menu {
            min-width: 150px;
            margin-top: 0.5rem;
            border-radius: 4px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }
        .dropdown-item {
            padding: 0.5rem 1rem;
        }
        .dropdown-item:hover {
            background-color: #f8f9fa;
        }
    </style> -->
</head>

<body>
    <!-- Modal -->
    <!-- <div class="modal fade custom-modal" id="onloadModal" tabindex="-1" aria-labelledby="onloadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">              
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>       
                <div class="modal-body">
                    <div class="deal" style="background-image: url('assets/imgs/banner/menu-banner-7.png')">
                        <div class="deal-top">
                            <h2 class="text-brand">Deal of the Day</h2>
                            <h5>Limited quantities.</h5>
                        </div>
                        <div class="deal-content">
                            <h6 class="product-title"><a href="shop-product-right.html">Summer Collection New Morden Design</a></h6>
                            <div class="product-price"><span class="new-price">$139.00</span><span class="old-price">$160.99</span></div>
                        </div>
                        <div class="deal-bottom">
                            <p>Hurry Up! Offer End In:</p>
                            <div class="deals-countdown" data-countdown="2025/03/25 00:00:00"><span class="countdown-section"><span class="countdown-amount hover-up">03</span><span class="countdown-period"> days </span></span><span class="countdown-section"><span class="countdown-amount hover-up">02</span><span class="countdown-period"> hours </span></span><span class="countdown-section"><span class="countdown-amount hover-up">43</span><span class="countdown-period"> mins </span></span><span class="countdown-section"><span class="countdown-amount hover-up">29</span><span class="countdown-period"> sec </span></span></div>
                            <a href="shop-grid-right.html" class="btn hover-up">Shop Now <i class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>        
        </div>
        </div>
    </div> -->


<header class="header-area header-style-1 header-height-2">
  <div class="header-top header-top-ptb-1 d-none d-lg-block">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-xl-3 col-lg-4">
                  <div class="header-info">
                      <ul>
                         
                          
                      </ul>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-4">
                  <div class="text-center">
                      <div id="news-flash" class="d-inline-block">
                          <!-- <ul>
                              <li>Get great devices up to 50% off <a href="shop-grid-right.html">View details</a></li>
                              <li>Supper Value Deals - Save more with coupons</li>
                              <li>Trendy 25silver jewelry, save up 35% off today <a href="shop-grid-right.html">Shop now</a></li>
                          </ul> -->
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-4">
                <div class="header-info header-info-right">
                    <ul>
                        <% if (locals.userData) { %>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fi-rs-user"></i><%= locals.userData.name %>
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                                    <li><a class="dropdown-item" href="/userProfile">Profile</a></li>
                                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                </ul>
                            </li>
                        <% } else if (locals.user) { %>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fi-rs-user"></i><%= locals.user.name %>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                                    <li><a class="dropdown-item" href="/userProfile">Profile</a></li>
                                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                </ul>
                            </li>
                        <% } else { %>
                            <li><i class="fi-rs-user"></i><a href="signup"> Sign Up</a></li>
                            <li><i class="fi-rs-user"></i><a href="login"> Log in</a></li>
                        <% } %>
                    </ul>
                </div>
              </div>
          </div>
      </div>
  </div>
  <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
      <div class="container">
          <div class="header-wrap">
              <div class="logo logo-width-1">
                  <a href="/"><img src="assets/imgs/theme/sixit-logo.png" alt="logo"></a>
              </div>
              <div class="header-right">
                  <div class="search-style-2">
                      <form action="#">
                          
                          <!-- <input type="text" placeholder="Search for items..."> -->
                      </form>
                  </div>
                  
                  <div class="header-action-right">
                      <div class="header-action-2">
                          <div class="header-action-icon-2">
                              <a href="/wishlist">
                                  <img class="svgInject" alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                  <% if (typeof wishlistCount !== 'undefined' && wishlistCount > 0) { %>
                                      <span class="pro-count blue"><%= wishlistCount %></span>
                                  <% } %>
                              </a>
                          </div>
                          <div class="header-action-icon-2">
                              <a class="mini-cart-icon" href="/getCart">
                                  <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                                  <% if (typeof cartCount !== 'undefined' && cartCount > 0) { %>
                                      <span class="pro-count blue"><%= cartCount %></span>
                                  <% } %>
                              </a>
                              
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="header-bottom header-bottom-bg-color sticky-bar">
    <div class="container">
        <div class="header-wrap header-space-between position-relative">
            <div class="logo logo-width-1 d-block d-lg-none">
                <a href="/"><img src="assets/imgs/theme/sixit-logo.png" alt="logo"></a>
            </div>
            <div class="header-nav d-none d-lg-flex">
                <div class="main-categori-wrap d-none d-lg-block">
                    <a class="categori-button-active" href="#">
                        <span></span> Play with passion, win with patience!
                    </a>
                    <div class="categori-dropdown-wrap categori-dropdown-active-large">
                        <ul>
                            
                        </ul>
                        <div class="more_categories">Show more...</div>
                    </div>
                </div>
                <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                    <nav>
                        <ul style="display: flex; gap: 2.5rem;">
                            <li style="margin: 0 15px;">
                                <a  href="/">Home</a>
                            </li>
                            <li style="margin: 0 15px;">
                                <a href="shop">Shop</a>
                            </li>
                            <li style="margin: 0 15px;">
                                <a href="/about">About</a>
                            </li>
                            <li style="margin: 0 15px;">
                                <a href="/contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
         
  <div class="header-bottom header-bottom-bg-color sticky-bar">
      <div class="container">
          <div class="header-wrap header-space-between position-relative">
              <div class="logo logo-width-1 d-block d-lg-none">
                 
              </div>
              

             
              <div class="header-action-right d-block d-lg-none">
                  <div class="header-action-2">
                      <div class="header-action-icon-2">
                          <a href="/wishlist">
                              <img alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                              <% if (typeof wishlistCount !== 'undefined' && wishlistCount > 0) { %>
                                <span class="pro-count blue"><%= wishlistCount %></span>
                            <% } %>
                          </a>
                      </div>
                      <div class="header-action-icon-2">
                          <a class="mini-cart-icon" href="/getCart">
                              <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                              <% if (typeof cartCount !== 'undefined' && cartCount > 0) { %>
                                <span class="pro-count blue"><%= cartCount %></span>
                            <% } %>
                          </a>
                          <!-- <div class="cart-dropdown-wrap cart-dropdown-hm2">
                              <ul>
                                  <li>
                                      <div class="shopping-cart-img">
                                          <a href="shop-product-right.html"><img alt="Evara" src="assets/imgs/shop/thumbnail-3.jpg"></a>
                                      </div>
                                      <div class="shopping-cart-title">
                                          <h4><a href="shop-product-right.html">Plain Striola Shirts</a></h4>
                                          <h3><span>1 × </span>$800.00</h3>
                                      </div>
                                      <div class="shopping-cart-delete">
                                          <a href="#"><i class="fi-rs-cross-small"></i></a>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="shopping-cart-img">
                                          <a href="shop-product-right.html"><img alt="Evara" src="assets/imgs/shop/thumbnail-4.jpg"></a>
                                      </div>
                                      <div class="shopping-cart-title">
                                          <h4><a href="shop-product-right.html">Macbook Pro 2022</a></h4>
                                          <h3><span>1 × </span>$3500.00</h3>
                                      </div>
                                      <div class="shopping-cart-delete">
                                          <a href="#"><i class="fi-rs-cross-small"></i></a>
                                      </div>
                                  </li>
                              </ul>
                              <div class="shopping-cart-footer">
                                  <div class="shopping-cart-total">
                                      <h4>Total <span>$383.00</span></h4>
                                  </div>
                                  <div class="shopping-cart-button">
                                      <a href="shop-cart.html">View cart</a>
                                      <a href="shop-checkout.html">Checkout</a>
                                  </div>
                              </div>
                          </div> -->
                      </div>
                      <div class="header-action-icon-2 d-block d-lg-none">
                          <div class="burger-icon burger-icon-white">
                              <span class="burger-icon-top"></span>
                              <span class="burger-icon-mid"></span>
                              <span class="burger-icon-bottom"></span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href="/"><img src="assets/imgs/theme/sixit-logo.png" alt="logo"></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">
           
            
                <!-- mobile menu start -->
                <nav>
                    <ul class="mobile-menu">
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/">Home</a>
                            
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/shop">shop</a>
                           
                        </li>
                        
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/about">About</a>
                            
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/contact">Contact</a>
                           
                        </li>
                        
                    </ul>
                </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap mobile-header-border">
                <div class="single-mobile-header-info mt-30">
                    <a  href="/contact"> Our location </a>
                </div>
                <div class="single-mobile-header-info">
                    <% if (locals.user) { %>
                        <a href="/userProfile"><i></i> <%= locals.user.name %></a>
                        
                    <% } else { %>
                        <a href="signup"><i class="fi-rs-user"></i> Sign Up</a>
                        <a href="login"><i class="fi-rs-user"></i> Log in</a>
                    <% } %>
                </div>
                <div>
                    <a href="/userProfile"><i"></i> Profile</a>
                </div>

                <div>
                    <a href="/logout"><i></i> Logout</a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="#">(+01) - 2345 - 6789 </a>
                </div>

            </div>
           
            
    </div>
</div>
</header>
<!-- Vendor JS-->
<script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="assets/js/plugins/slick.js"></script>
<script src="assets/js/plugins/jquery.syotimer.min.js"></script>
<script src="assets/js/plugins/wow.js"></script>
<script src="assets/js/plugins/jquery-ui.js"></script>
<script src="assets/js/plugins/perfect-scrollbar.js"></script>
<script src="assets/js/plugins/magnific-popup.js"></script>
<script src="assets/js/plugins/select2.min.js"></script>
<script src="assets/js/plugins/waypoints.js"></script>
<script src="assets/js/plugins/counterup.js"></script>
<script src="assets/js/plugins/jquery.countdown.min.js"></script>
<script src="assets/js/plugins/images-loaded.js"></script>
<script src="assets/js/plugins/isotope.js"></script>
<script src="assets/js/plugins/scrollup.js"></script>
<script src="assets/js/plugins/jquery.vticker-min.js"></script>
<script src="assets/js/plugins/jquery.theia.sticky.js"></script>
<script src="assets/js/plugins/jquery.elevatezoom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>